spring:
  application:
    name: ms-manajemen-talenta
  datasource:
    url: jdbc:postgresql://10.32.1.152:5432/talent
    username: fund_transfer
    password: middlewareisthebest
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: public
    jpa:
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          default_schema: public
